# Saat Anda menghubungkan proyek Vercel ini ke sebuah Vercel Postgres store,
# variabel-variabel di bawah ini akan otomatis diisi oleh Vercel.
# Untuk pengembangan lokal, salin file ini menjadi .env.local dan isi
# nilainya (bisa didapat dari tab "Storage" -> ".env.local" di dashboard Vercel).
POSTGRES_URL=
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=
